name: Docker Build and Push
#permissions:
  #contents: read

on:
  push:
    branches: 
        - main
  # Allow manual trigger
  workflow_dispatch:

env:
  DOCKER_USERNAME: arunce94
  DOCKER_REPOSITORY: stock-price-prediction

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ env.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v4
      with:
        context: .
        push: true
        tags: |
          ${{ env.DOCKER_USERNAME }}/${{ env.DOCKER_REPOSITORY }}:latest
          ${{ env.DOCKER_USERNAME }}/${{ env.DOCKER_REPOSITORY }}:${{ github.sha }}